<a href="https://colab.research.google.com/github/kunyoungkim/pandas_basic/blob/main/loc%2C_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# 특정 행과 열에 접근
print(df.loc[1, 'Age'])  # 출력: 30

# 특정 행 전체를 선택
print(df.loc[1])
# 출력:
# Name       Bob
# Age         30
# City    Los Angeles
# Name: 1, dtype: object

# 특정 열 전체를 선택
print(df.loc[:, 'City'])
# 출력:
# 0       New York
# 1    Los Angeles
# 2       Chicago
# Name: City, dtype: object

# 여러 행과 열 선택
print(df.loc[0:1, ['Name', 'City']])
# 출력:
#    Name         City
# 0  Alice     New York
# 1    Bob  Los Angeles

30
Name            Bob
Age              30
City    Los Angeles
Name: 1, dtype: object
0       New York
1    Los Angeles
2        Chicago
Name: City, dtype: object
    Name         City
0  Alice     New York
1    Bob  Los Angeles

In [ ]:
import seaborn as sns

df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.loc[1, 'sex']

'female'

In [ ]:
df.loc[1]

survived               1
pclass                 1
sex               female
age                 38.0
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object

In [ ]:
df.loc[:,'age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [ ]:
df.loc[1:3,['sex','age']]

      sex   age
1  female  38.0
2  female  26.0
3  female  35.0

In [ ]:
df.loc[1,:]

survived               1
pclass                 1
sex               female
age                 38.0
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object

In [ ]:
df.iloc[-1]

survived                0
pclass                  3
sex                  male
age                  32.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

In [ ]:
df.loc[0:2, 'fare':'age']

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [ ]:
df.loc[1]

survived               1
pclass                 1
sex               female
age                 38.0
sibsp                  1
parch                  0
fare             71.2833
embarked               C
class              First
who                woman
adult_male         False
deck                   C
embark_town    Cherbourg
alive                yes
alone              False
Name: 1, dtype: object

In [ ]:
df2 = df.copy()

In [ ]:
df.loc[df['age'] >= 30, 'age'] = 25

In [ ]:
df[df['age'] >= 30]['age'] = 25

<ipython-input-41-687722c9c66d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['age'] >= 30]['age'] = 25

In [ ]:
df['age'].unique()

array([22.  , 25.  , 26.  ,   nan,  2.  , 27.  , 14.  ,  4.  , 20.  ,
       15.  , 28.  ,  8.  , 19.  , 21.  , 18.  ,  3.  ,  7.  , 29.  ,
       28.5 ,  5.  , 11.  , 17.  , 16.  ,  0.83, 23.  , 24.  , 14.5 ,
       12.  ,  9.  ,  1.  , 20.5 , 23.5 ,  0.92, 10.  , 13.  ,  0.75,
       24.5 ,  6.  ,  0.67,  0.42])

In [ ]:
df.loc[[1,2,5],'age']

1    25.0
2    26.0
5     NaN
Name: age, dtype: float64

In [ ]:
df.iloc[1, 2]

'female'

In [ ]:
df.iloc[-1,-1]

True

In [ ]:
df.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df.iloc[:-1]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
df.iloc[6:-2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
df.columns.get_loc('age')

3

In [ ]:
df[df['age'] >= 25].index

Index([  1,   2,   3,   4,   6,   8,  11,  13,  15,  18,
       ...
       874, 879, 880, 881, 883, 884, 885, 886, 889, 890],
      dtype='int64', length=436)

In [ ]:
df.loc[df['age'].sort_values().index[:5]]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False

In [ ]:
df['age'].sort_values().index[:5]

Index([803, 755, 644, 469, 78], dtype='int64')